# Python artefacts
__pycache__/
*.pyc
*.pyo
*.pyd

# wichtig! -- .env darf nicht in Git & Docker‑Image landen
.env

# Virtualenv
.venv/
*.egg-info/
dist/
build/

# IDEs & editors
.vscode/
.idea/

# Logs
logs/
*.log

# Media – optional: bind‑mount in Docker‑run
media/
zdockerdata/

# SQLite database – optional: persistent volume or bind‑mount
db/db.sqlite3

# Git
.git/
.gitignore
.github/

# Docker specific
Dockerfile
.dockerignore

/celerybeat-schedule