amqp==5.3.1
asgiref==3.11.0
bcrypt==5.0.0
billiard==4.2.3
cachetools==6.2.2
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
cryptography==46.0.3
Django==5.2.8
django-celery-beat==2.8.1
django-otp==1.6.3
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-smart-ratelimit==0.8.11
django-timezone-field==7.1
flower==2.0.1
google-auth==2.43.0
gunicorn==23.0.0
honcho==2.0.0
humanize==4.14.0
idna==3.11
invoke==2.2.1
kombu==5.5.4
oauthlib==3.3.1
packaging==25.0
paramiko==4.0.0
pillow==12.0.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyNaCl==1.6.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
qrcode==8.2
redis==7.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
