<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ PLATFORM_NAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
</head>
<body>
    <div class="gallery">
        <!-- Blätterfunktion (Pagination) oben -->
        <div class="nav-panel top">
            <div class="pagination">
                <span>{% block headline %}{% endblock %}</span>
                {% block app_buttons %}
                {% endblock %}
            </div>
        </div>

        {% block content %} {% endblock %}



    </div>
</body>
</html>
